$base-color: #f5f5f7; //全体背景
$content-color: #fff;
$main-color: #edf1f4; //table等
$sub-color: #f5f8fc; //even-cell

$font-main-color: rgba(0, 0, 0, .7); //70%
$font-sub-color: rgba(0, 0, 0, .3); //30%
$font-clear-color: rgba(0, 0, 0, .5); //30%
$font-no-clear-color: rgba(0, 0, 0, .05); //10%
$font-color: #fff;
$font-none-color: rgba(224, 224, 224, 0);//0%
$constant-border: #cecece;

// menu
$menu-bg-color: #4f5054;
$menu-active-bg-color: #000;
$menu-border-color: #808080;
$badge: #ed1c24;

// button
$corp-color: #4994c1;
$active-color: #e89528;
$clear-color: #e0e0e0;
$dark-color: #323335;
$pager-color: #98c6d8;

// input
$required-color: #e6f6fc; // 必須
$error-color: #e6f6fc; // エラー
$disable-color: rgba(0, 0, 0, .1); // disable:10%
$border-color: #b3b3b3; // border

// label
$label-color: #5d62c6;
